* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #6b7fd7;
  --white-color: #f1ecd8;
  --black-color: #202030;
  --accent-color: #e83151;
}

html {
  scroll-behavior: smooth;
}

body {
  /* display: grid;
  justify-content: center; */
  background-color: var(--black-color);
  color: var(--white-color);
  font-family: Arial, Helvetica, sans-serif;
}
