button.scrollToTopButton {
  /* z-index: 1000; */
  bottom: 8px;
  right: 8px;
  position: fixed;
  font-size: 32px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 40px;
  background-color: rgb(30, 255, 139);
  border: none;
  color: rgb(5, 96, 66);
}

button.scrollToTopButton:hover {
  background-color: rgb(82, 107, 99);
  color: rgb(0, 255, 123);
}

button.scrollToTopButton:active {
  background-color: rgb(1, 30, 20);
  color: rgb(30, 255, 139);
}
